@model WebApplication3.Models.Kulanıcılar

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Kulanıcılar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KulaniciSifre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KulaniciSifre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KulaniciAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KulaniciAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yetkiler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yetkiler.YetkiId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KulanıcıId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
