@model WebApplication3.Models.Gazete

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Gazete</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GazeteAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GazeteAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GazeteLogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GazeteLogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GazeteSlogan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GazeteSlogan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GazeteEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GazeteEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GazetFacebook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GazetFacebook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GazeteInstagram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GazeteInstagram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GazeteYoutube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GazeteYoutube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GazeteTelefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GazeteTelefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GazeteAdres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GazeteAdres)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GazeteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
