@model WebApplication3.Models.Yazarlar

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Yazarlar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YazarAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YazarAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YazarResim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YazarResim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YazarEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YazarEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YazarSifre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YazarSifre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.YazarId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
