@model IEnumerable<WebApplication3.Models.Yorumlar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.YorumAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YorumMesaj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HaberId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YorumAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YorumMesaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HaberId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.YorumId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.YorumId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.YorumId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
