@model IEnumerable<WebApplication3.Models.Reklam>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReklamKonusu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReklamResim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KonumId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReklamKonusu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReklamResim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KonumId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReklamId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReklamId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReklamId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
